.contenedor { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

}

.cabecera {
  grid-column: 4 / 1 ;
  grid-row: 1;
  width: 100%;
}

#tituloMenu strong {
  display: inline;
}

.main {
  grid-column: 2 / 4;
  grid-row: 2 / 5;
  display: grid;
  padding-right: 20px;

}

.addNota {
  height: 50px;
  display: flex;
  align-content: space-between;
  align-items: center;
  orientation: row;
  margin: 0;
}

.iconsAddNota {
  position: relative;
  margin-left: 140px;
}

.notas {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

.nota {
  margin: 0;  
}

.aside {
  grid-column: 1 / 4;
  grid-row: 2 / 5;
  display: inline-block;
  overflow: auto;
  padding-left: 5px;  
  height: 99%;
  width: 25%;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.litem {
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.litem:hover {
  background-color: #C0C0C0;
}

.aside ul {
  list-style:none
  
}

.litem i {
  margin-right: 30px; 
}

.aside .recordatorios {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.caja1-aside {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;  
  padding-top: 8px;
  padding-bottom: 8px;
}

.caja1-aside #etiquetas {
  margin-left: 40px;
  padding: 10px 5px 10px 5px;
}

.caja1-aside #editar {
  margin-right: 40px;
  padding-left: 5px;
  padding-right: 5px;
}

.aside .crearEtiqueta {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.aside .papelera {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.footerAside{
  display: grid;
  grid-template-columns: 1;
  margin: 12px 15px 12px 24px;
  background-color: inherit;
  padding: 30px 0 10px 0;
  
}

.footerAside > div {
  margin-bottom: 15px;
}

.footerAside a {
  text-decoration: none;
  color: #9c9c9c;
}

.footerAside a:hover {
  color: black;
}
