/* Styles go here */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: block;
  background-color: #e8e8e8;
}

.contenedor {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
  height: 100%;

}

.cabecera {
    height: 65px;
    width: 100%;
    display: flex;
    background-color: #fb0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 4px #999;
}

.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px; 
}

.menu1 > #menu {
  margin-right: 50px;
}

#tituloMenu{
  margin-left: 0px;
  font-size: 22px;
  font-family: 'Product Sans',Arial,sans-serif;
}

.cabecera .iconsHeader {
  margin-right: 15px;
}

.iconsHeader > #search {
  margin-right: 10px;
}



#tituloMenu strong, .aside {
  display: none;
}

.main {
  grid-row: 2 / 5;
  margin: 10px 16px 10px 16px;
}

.addNota {
  height: 50px;
  display: flex;
  align-content: space-between;
  align-items: center;
  orientation: row;
  margin: 0;
  box-shadow: 1px 1px 4px #999;
}

.addNota > input {
  background-color: rgb(250, 250, 250);
  width: 70%;
  border: none;
  padding-left: 15px; 
  font-size: 18px;
  outline: 0px;
}

.iconsAddNota {
  display: flex; 
  flex-wrap: nowrap;
}

.iconAddnota2 {
  margin: 0px 10px 0px 10px;
}


.notas {
  position: relative;
}

.nota, .addNota {
  background-color: rgb(250, 250, 250);
}

.nota {
  margin: 10px 0px 10px 0px;  
  font-size: 16px;
  font-family: 'Roboto Slab','Times New Roman',serif;
  padding: 12px 15px 15px 15px;
  height: 100px;
  box-shadow: 1px 1px 4px #999;
}

.material-icons {
  color: gray;
}