/* Styles go here */

* {box-sizing: border-box;}

.contenedor {
  display: grid;
  grid-template-columns: 1;
  grid-gap: 10px;
  height: 100%;
}

.cabecera {
    display: flex;
    background-color: #fb0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}


.addNota {
  display: flex;
  align-content: space-between;
  orientation: row;
  margin: 0;
}

.addNota > input {
  width: 70%;
  border: none;
  padding-left: 15px; 
  font-size: 16px;
}

.iconsAddNota {
  margin-left: 60px;
}

.notas {
  position: relative;
}

.nota {
  margin: 8px;  
  background-color: grey;
}


@media (min-width: 800px){
  .contenedor { 
    display: grid;
    grid-template-columns: 1;
  }
  
  .main {
    display: grid;
    grid-template-columns: 100%;
  }
  
}

@media (min-width: 800px) {
  .notas {
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    grid-gap: 20px 20px;
  }
}
/*   

    body {
    background-color: #e8e8e8;
  }


  .navbar {
    display: flex;
    background-color: #fb0;
    justify-content: space-between;
    align-items: center;
  }
  
  .search{
    margin: 10px 10px 10px 10px;
    opacity: 0.5;
  }
    
  .search #inputSearch {
    width: 500px;
    height: 30px;
    border: 0;
    padding-left: 20px;
  }
  
  #titleNavbar {
    font-size: 25px;
    margin: 0;
  }
  
  .principalContainer {
    display: flex;
    
   
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px 20px;
    
  }
  
  .grid-item {
    border: solid 0.5px black;
  }
  
  .main {
    margin-top: 30px;
    min-width: 900px;
  }
  
  .container2{
    display: flex;
    justify-content: center;
    
  }
  
  .caja1 {
    display: flex;
    justify-content: space-around;
  }
  
   */