@media (min-width: 630px) {
  .notes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .menuLeft > img {
    display: block;
    width: 40px;
    height: 40px;
    padding-right: 10px;
  }

  .menuRight i:nth-child(3) {
    display: inline;
  }
}

@media (min-width: 780px) {
  .search {
    display: flex;
    align-items: center;
    background: rgba(0,0,0,0.04);
    padding: 8px 8px 8px 10px;
    border-radius: 8px;
  }

  .search .inputSearch {
    background: transparent;
    border: none;
    outline: 0px;
    padding: 0px 50px 0px 15px;
  }

  .menuRight i:first-child {
    display: none;
  }
}

@media (min-width: 920px) {
  .notes {
    grid-template-columns: repeat(3, 1fr);
  }

  .search {
    padding-right: 180px;
  }
}

@media (min-width: 1028px) {
  .grid-container {
    display: grid;
    grid-gap: 56px;
    grid-template-areas: 
      "header header"
      "aside main"
  }

  .grid-aside {
    grid-area: aside;
    display: block;
  }
}